root = true

[*]
indent_style = space
insert_final_newline = false

[*.{js,json,yml,yaml,md}]
indent_size = 2

[*.{js,php}]
insert_final_newline = true

[*.{html,jade,css,stylus}]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 2