# Always-ignore dirs #
######################
_gh_pages
node_modules
bower_components
components
vendor
build
lib-cov
coverage
nbproject
cache
temp
tmp

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS, Logs and databases #
##########################
*.pid
*.dat
*.log
*.sql
*.sqlite
*~
~*

# Another files #
#################
.DS_Store
Thumbs.db
npm-debug.log